html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /*background: #000;
  color: #fff;*/
  font-family: system-ui, sans-serif;
}

#viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.texto {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  /* tamaño “base” (cuando scale = 1) */
  font-size: 16px;
}


#viewport {
  touch-action: none; /* muy importante para que pinch/drag no haga scroll/zoom del browser */
}


p {
    font-family: monospace;
    line-height: 0%;
    
    text-wrap: nowrap;
    font-size: 1rem;
    opacity: 1;
    color: black;
}

.container {
    padding-top: 0;
    position: absolute;
}

p.big {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    opacity: 0.5;
}



p.small {
    
    font-size: 0.2rem;
}



.red{
    color: red;
}

.blue {
    color:blue;
}

.green {
    color: green;
}


.columns {
    display: block;
    width: 10000px;
    height: 10000px;

}

a {
    text-decoration: none;
}