html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
  color: #fff;
  font-family: system-ui, sans-serif;
}

#viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.texto {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  /* tamaño “base” (cuando scale = 1) */
  font-size: 16px;
}
