p {
    font-family: monospace;
    line-height: 0%;
    font-size: 1rem;
    text-wrap: nowrap;
    
}

.container {
    padding-top: 0;
    position: absolute;
}



p.big {
    font-size: 2.5rem;
    opacity: 0.5;
    margin-top: 1.8rem;
    
}

p.small {
    
    font-size: 0.5rem;
}



.red{
    color: red;
}

.blue {
    color:blue;
}

.green {
    color: green;
}

body {
   /* margin: 10em;
    border: black 2px dotted; */
}

.columns {
    display: block;
    width: 10000px;
    height: 10000px;

}