#viewport {
  touch-action: none; /* muy importante para que pinch/drag no haga scroll/zoom del browser */
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px; /* espacio entre items */
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px; /* espacio entre items */
}


p {
    font-family: monospace;
    line-height: 0%;
    text-wrap: nowrap;
    font-size: 1.5rem;
    opacity: 1;
    
}

.container {
    padding-top: 0;
    /*osition: absolute;*/
}


p.big {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    opacity: 0.5;
}



p.small {
    
    font-size: 0.2rem;
}



.red{
    color: red;
}

.blue {
    color:blue;
}

.green {
    color: green;
}


.columns {
    display: block;
    width: 10000px;
    height: 10000px;

}

a {
    text-decoration: none;
}