p {
    font-family: monospace;
    line-height: 0%;
    
    text-wrap: nowrap;
}

p.big {
    font-size: 10rem;
}

p.small {
    font-size: 0.1rem;
}

.red{
    color: red;
}

.blue {
    color:blue;
}

body {
    backg
}

.columns {
    display: flex;
}